node_modules/
public
.gatsby-context.js
.DS_Store
.intermediate-representation/
.cache/
yarn.lock
*.sh
*.exe
bin
gen
out
.settings
*.keystore
*.apk
*.mod
*.smod
*.lai
*.la
*.a
*.lib
*.app
*.gch
*.pch
*.slo
*.lo
*.o
*.obj
*.d

